SITE_NAME=Peptide Protocol
SITE_DOMAIN=peptideprotocol.ca
SITEGROUND_SITE_NAME=peptideprotocol.ca
SITEGROUND_WEB_ROOT=public_html
SITEGROUND_DEPLOY_METHOD=github-actions-ssh
SITEGROUND_SSH_HOST=ssh.peptideprotocol.ca
SITEGROUND_SSH_PORT=18765
SITEGROUND_SSH_USER=u3401-ut86uow1vwuj
SITEGROUND_REMOTE_PATH=/home/customer/www/peptideprotocol.ca/public_html/
SITEGROUND_SSH_PRIVATE_KEY_B64=base64-encoded-private-key
SITEGROUND_SSH_PASSPHRASE=optional-if-key-is-encrypted
GITHUB_REPO_URL=https://github.com/alpharomeo-black/peptideprotocol-ca.git
GITHUB_DEFAULT_BRANCH=main
